<layout name="layout2"/>
<body>
<div class="panel admin-panel">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>添加分类</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="__SELF__" enctype="multipart/form-data">
      <input type="hidden" name="id" value="<?php echo $info['id']; ?>" />
      <div class="form-group">
        <div class="label">
          <label>分类姓名：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="{$info['attr_name']}" name="attr_name" data-validate="required:分类姓名" />
          <div class="tips"></div>
        </div>
      </div>


      <div class="form-group">
        <div class="label">
          <label>所属类型：</label>
        </div>
        <div class="field">
          <select name="type_id" class="input w50">
              <foreach name="type_info" item="v">
                  <if condition="$v['id'] eq $info['type_id']">>
                    <option selected ="selected" value="{$v['id']}">{$v['type_name']}</option>
                  </if>
                <!--<option value="{$v['id']}">{$v['type_name']}</option>-->
              </foreach>
          </select>
          <div class="tips"></div>
        </div>
      </div>

      <div class="form-group">
        <div class="label">
          <label>属性类型：</label>
        </div>
        <div class="field">
          <textarea name="attr_option_values"><?php echo $info['attr_option_values']; ?></textarea>
          <div class="tips"></div>
        </div>
      </div>

      <div class="form-group">
        <div class="label">
          <label>属性可选值：</label>
        </div>
        <div class="field">
          唯一<input type="radio" name="attr_sel" value="唯一" <?php if($info['attr_sel'] == '') echo 'checked="checked"'; ?> />
          可选<input type="radio" name="attr_sel" value="可选" <?php if($info['attr_sel'] == '') ; ?> />
          <div class="tips"></div>
        </div>
      </div>

      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>

</body>